/* Fonts */
@font-face {
	font-family: "Tangerine";
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url("assets/Tangerine-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Forum";
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url("assets/Forum-Regular.ttf") format("truetype");
}

/* Config */
:root {
	/* Site width */
	--site-width-min: 85vw;
	--site-width-max: 1200px;
	--site-width: min(var(--site-width-min), var(--site-width-max));
	--site-padding: calc((100vw - var(--site-width)) / 2);

	/* Colors */
	--text-color: light-dark(#333, #eee);
	--title-color: light-dark(#486052, #eee);

	--button-bg: light-dark(#486052, white);
	--button-color: light-dark(white, var(--body-bg));

	--body-bg: light-dark(#fffbf0, #919c8f);
	--color-primary: #486052;
	--color-secondary: #ffeee4;

	--img-filter-primary: brightness(0) saturate(100%) invert(36%) sepia(15%) saturate(508%) hue-rotate(92deg) brightness(94%) contrast(98%);

	--link-color: light-dark(#486052, white);
}

/* Color schemes */
html {
	--color-scheme-icon: "🌙";

	color-scheme: light dark;
	transition: background-color 0.4s ease;
}

html.color-scheme--dark {
	--color-scheme-icon: "☀️";

	color-scheme: dark;
}

html.color-scheme--light {
	color-scheme: light;
}

/* Common sense */
html {
	interpolate-size: allow-keywords;
	scroll-behavior: smooth;
	font-size: 100%;
}

* {
	box-sizing: border-box;
}

/* Base styling */
html {
	background-color: var(--body-bg);
	color: var(--text-color);
}

body {
	font: 1rem/1.6 Helvetica, sans-serif;
	margin: 0;
}

/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
	font: 1.5rem/0.75 "Tangerine", serif;
	font: 1.5rem/1 "Forum", serif; /* NOTE: With Forum */
	letter-spacing: -0.015em;
	color: var(--title-color);
	text-wrap: balance;
	margin: 0 0 1.5rem;
}

h1 {
	font-size: clamp(6rem, 10vw, 20rem);
	line-height: 0.75;
}

h2 {
	font-size: clamp(3rem, 7.5vw, 4rem);
	font-size: clamp(2rem, 7.5vw, 3rem); /* NOTE: With Forum */
}

/* Common elements */
p {
	margin: 0 0 1rem;
}

img {
	display: block;
	margin: 0 0 2rem;
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

iframe {
	width: 100%;
	margin: 0 0 2rem;
}

a {
	color: var(--link-color);
	text-underline-offset: 0.25rem;
}

label {
	cursor: pointer;
}

/* Buttons */
nav {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.75rem;

	> * {
		flex: 1 0 auto;
	}
}

/* Separator */
hr {
	/* TODO: CANIUSE? https://s3-us-west-2.amazonaws.com/s.cdpn.io/101448/wedding-divider-png-9.png */
	background: url(assets/divider.png) no-repeat;
	background-size: contain;
	border: 0;
	margin: 1rem 0;
	aspect-ratio: 1340/87;
	filter: var(--img-filter-primary);
}

/* Accordions */
details {
	&:not(:last-child) {
		margin-bottom: 0.75rem;
	}

	summary {
		cursor: pointer;
		padding-left: 2.5rem;
		position: relative;

		&::before {
			background: var(--color-primary);
			color: var(--body-bg);
			border-radius: 50%;

			content: "▾";
			display: flex;
			align-items: center;
			justify-content: center;

			width: 1.5rem;
			height: 1.5rem;

			position: absolute;
			left: 0;
			top: 50%;
			translate: 0 -50%;

			rotate: -90deg;
			transition: rotate 0.4s ease;
		}
	}

	&[open] summary::before {
		rotate: 0deg;
	}

	> :last-child {
		margin-bottom: 0;
	}

	::marker {
		content: "";
	}

	::-webkit-details-marker {
		display: none;
	}

	&::details-content {
		transition: height 0.4s ease, content-visibility 0.4s ease allow-discrete;
		height: 0;
		overflow: clip;
		padding-left: 2.5rem;
		font-size: smaller;
	}

	&[open]::details-content {
		height: auto;
	}

	/* Fallback for browsers with no interpolate-size support */
	@supports not (interpolate-size: allow-keywords) {
		&[open]::details-content {
			height: 10rem;
			overflow-y: scroll; /* In case the contents should be taller than 150px */
		}
	}
}

/* Button */
.button {
	background: var(--button-bg);

	display: inline-block;
	padding: 0.75rem 2rem;

	color: var(--button-color);
	text-decoration: none;
	text-align: center;

	border: 2px solid var(--button-bg);
	border-radius: 999px;

	transition: all 0.4s ease;

	&:hover {
		filter: brightness(1.25);
	}
}

.button--ghost {
	&:not(:hover) {
		background: transparent;
		color: var(--button-bg);
	}

	&:hover {
		filter: none;
	}
}

/* Module styling */
body {
	/* Color scheme switcher */
	> label {
		position: absolute;
		right: 1rem;
		top: 1rem;
		font-size: 0;

		&::before {
			content: var(--color-scheme-icon);
			filter: grayscale(1);
			font-size: 1rem;
		}

		input {
			position: absolute;
			visibility: hidden;

			/* NOTE: To prevent horizontal scrollbar */
			left: 0;
			top: 0;
		}
	}

	/* All modules - including header and footer */
	> header,
	> section,
	> footer {
		padding: clamp(2rem, 5vw, 5rem) var(--site-padding);

		> :last-child {
			margin-bottom: 0;
		}
	}

	> header,
	> footer {
		text-align: center;
	}

	/* Header */
	> header {
		padding-top: 8rem;

		/* "Logo" */
		h1 {
			position: relative;

			/* & */
			span {
				position: absolute;
				left: 50%;
				top: 50%;
				translate: -50% -50%;
				z-index: -1;

				opacity: 0.1;
				font-size: 400%;
				color: var(--color-primary);
			}

			/* JP */
			strong {
				font-weight: normal;
				display: block;
			}

			/* Date */
			small {
				font-size: 2rem;
				display: block;
			}
		}

		/* Description */
		p {
			max-width: 48ch;
			font-size: 1.1rem;
			margin: 2rem auto;

			strong {
				font-weight: normal;
			}
		}
	}

	/* Footer */
	> footer {
		color-scheme: dark;
		background: var(--color-primary);
		color: var(--text-color);
	}

	/* All modules */
	> section {
		display: grid;
		gap: 3rem 5rem;
		align-items: center;
		grid-auto-flow: dense;

		/* "Media" */
		> img,
		> iframe {
			margin: 0;
			border: clamp(0.75rem, 3vw, 1.25rem) solid white;
			box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
		}

		/* Potential title above both media and content */
		> h2 {
			grid-column: 1 / -1;
			text-align: center;
		}

		/* Content */
		> div {
			padding-inline: 1.5rem; /* NOTE: This looked better imo */

			/* NOTE: Google forms seems to have some sort of padding built-in 🤦‍♂️ so pull it out */
			> iframe {
				margin-inline: -1.5rem; /* NOTE: Same as padding-inline above */
				width: calc(100% + 3rem);
			}
		}

		/* Two cols in high res */
		@media (min-width: 960px) {
			grid-template-columns: repeat(2, minmax(0, 1fr));

			&:nth-of-type(odd) {
				> img,
				> iframe {
					grid-column: 2;
				}

				> div {
					grid-column: 1;
				}
			}
		}
	}

	/* Specific modules */
	#intro,
	#kids,
	#location {
		img,
		iframe {
			aspect-ratio: 1/1;
		}
	}
}